---
# Only the main Sass file needs front matter (the dashes are enough)
search: false
---
/* fonts */
$global-font-family: monospace;
$header-font-family: monospace;
$caption-font-family: monospace;
$serif: monospace;
$sans-serif: monospace;

/* colors */
$body-color : white;
$background-color : white;
$text-color : #230C0F;
$link-color: #FE5F55;
$masthead-link-color: #FE5F55;
$masthead-link-color-hover: #18A999;
$primary-color: #18A999;
$muted-text-color: #18A999;

/* type scale */
$type-size-1 : 0.6rem;  // ~39.056px
$type-size-2 : 0.6rem;  // ~31.248px
$type-size-3 : 0.6rem;  // ~25.008px
$type-size-4 : 0.6rem; // 1.25em;   // ~20px
$type-size-5 : 0.6rem;      // ~16px
$type-size-6 : 0.6rem;   // ~12px
$type-size-7 : 0.6rem; // ~11px
$type-size-8 : 0.6rem;  // ~10px

/* headline scale */
$h-size-1: 0.9rem; // ~25.008px
$h-size-2: 0.6rem; // ~20px
$h-size-3: 0.6rem; // ~18px
$h-size-4: 0.6rem; // ~17px
$h-size-5: 0.6rem; // ~16.5px
$h-size-6: 0.6rem; // ~16px

/* sunrise syntax highlighting (base16) */
$base00: #1d1f21;
$base01: #282a2e;
$base02: #373b41;
$base03: #969896;
$base04: #b4b7b4;
$base05: #c5c8c6;
$base06: #e0e0e0;
$base07: #ffffff;
$base08: #cc6666;
$base09: #de935f;
$base0a: #f0c674;
$base0b: #b5bd68;
$base0c: #8abeb7;
$base0d: #81a2be;
$base0e: #b294bb;
$base0f: #a3685a;

@charset "utf-8";

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials


/* links */
.page__title, .page__title a, .greedy-nav a.site-title {
  color: #18A999;
  font-weight: normal;
}
a {
  text-decoration: none;
}


/* footer */
.page__footer {
  background-color: #208AAE;
}


/* blog series */
.series-intro {
  color: #BBB;
}
.series-intro a {
  color: #888;
}


/* content */
.page__content h1 {
  font-size: .7rem;
}
.page__content li {
  font-size: .6rem;
}
.portfolio_meta {
  font-size: .6rem;
  margin-bottom: 15px;
}
p, .page__content p {
  font-size: .6rem;
}
.portfolio_meta h3 {
  display: inline;
  color: #18A999;
}
.list__item .page__meta, 
.page .page__inner-wrap .page__meta {
  color: #208AAE;
}

figcaption {
    width: 100%;
}
figure img {
    margin-bottom: 0.3em;
}
figure {
    margin: 1em 0;
}


/* sidebar */
.social-icons .fas, .social-icons .fab, .social-icons .far, .social-icons .fal {
  width: auto;
  text-align: left;
}
.sidebar li {
  line-height: 1.5;
}


/* buttons */
.btn--primary {
    width: 200px;
}

/* math */
math {
  margin: 0 30px 20px;
}

.MathJax_Display {
  font-size: .6em;
  color: grey;
  overflow: auto;
}
