---
# Only the main Sass file needs front matter (the dashes are enough)
search: false
---
/* fonts */
$global-font-family: monospace;
$header-font-family: monospace;
$caption-font-family: monospace;
$serif: monospace;
$sans-serif: monospace;

/* colors */
$body-color : white;
$background-color : white;
$text-color : #230C0F;
$link-color: #FE5F55;
$masthead-link-color: #FE5F55;
$masthead-link-color-hover: #18A999;
$primary-color: #18A999;
.list__item .page__meta {
  color: #208AAE;
}
$muted-text-color: #18A999;

/* type scale */
$type-size-1 : 0.6rem;  // ~39.056px
$type-size-2 : 0.6rem;  // ~31.248px
$type-size-3 : 0.6rem;  // ~25.008px
$type-size-4 : 0.6rem; // 1.25em;   // ~20px
$type-size-5 : 0.6rem;      // ~16px
$type-size-6 : 0.6rem;   // ~12px
$type-size-7 : 0.6rem; // ~11px
$type-size-8 : 0.6rem;  // ~10px

/* headline scale */
$h-size-1: 0.9rem; // ~25.008px
$h-size-2: 0.6rem; // ~20px
$h-size-3: 0.6rem; // ~18px
$h-size-4: 0.6rem; // ~17px
$h-size-5: 0.6rem; // ~16.5px
$h-size-6: 0.6rem; // ~16px

a {
  text-decoration: none;
}




@charset "utf-8";

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials

.page__content p {
  font-size: .6rem;
}
.page__title, .page__title a, .greedy-nav a.site-title {
  color: #18A999;
  font-weight: normal;
}
p {
  font-size: .6rem;
}
.sidebar li {
  line-height: 1.5;
}
.page__footer {
  background-color: #208AAE;
}

.portfolio_meta {
  font-size: .6rem;
  margin-bottom: 15px;
}
.portfolio_meta h3 {
  display: inline;
  color: #18A999;
}
